.exercise {
    width: 100%;
    background-color: #FFF;

    padding: 20px;

    border-radius: 12px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.collapse-box {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.collapse-box-title {
    width: 90%;

    background-color: #222;
    color: #EEE;
    font-weight: bold;

    padding: 20px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;

    border-radius: 5px;
    transition: border-radius 0.5s ease;
    transition-delay: 0.1s;
}

.collapse-box-title.open {
    border-radius: 5px 5px 0 0;
}

.down-arrow {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;

    transition: transform 0.5s ease;
}

.down-arrow.open {
    transform: rotate(180deg);
}

.collapse-box-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: max-height 0.5s ease;

    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(140, 140, 140, 0.5);
    
    margin-bottom: 10px;

    width: 90%;
}

.collapse-box-content pre {
    border-radius: 3px;
}